/*==========MY COLOR PALETTE !! ============*/
:root{
    --color-for-header: #22b6b9e0;
    --color-for-phone-menu:  #000000e0;
    --color-for-main: #c1fff9;
    --color-for-footer: #a2d7cc;
    --color-for-cursor-main: #3d7874;
    --color-for-cursor-border: #5ecbc4;
    --color-for-cursor-dot: #ffffff;

    --text-color: #000000;
}

/*============================================= */




/*=========RESETTING ALL MARGIN ==========*/
/*========================================*/
*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}
/*========================================*/



/*============== BASIC FORMATTING  ============== */
/*============================================= */

body{
    font-family: 'Montserrat', sans-serif;
    cursor: none;
}

main{
background-color:var(--color-for-main);
min-height: 130vh;
}

footer{
    background-color: var(--color-for-footer);
    height: 30vh;
    margin-top: 0%;

}
.photos,
.videos,
.web,
.game{
    display: none;
}

header {
    width: 100%;
    height: 11vh;
    background-color: var(--color-for-header);
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-weight:bolder;
    padding: 0 100px;
}
.menu{
    height: 11vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.menu div{
    padding: 10px 25px;
}
.menu div:hover{
    color: white;
    transition: color 0.5s;

}

/*============================================= */






/*============== ALL DECORATION  ============== */
/*============================================= */

/*-----MY CURSOR-------*/
.own-cursor{
    height: 50px;
    width: 50px;
    background-color: var(--color-for-cursor-main);
    border: 2px solid var(--color-for-cursor-border);
    box-shadow: 2px 2px 2px black;
    border-radius: 50%;
    opacity: 68%;
    
    position: fixed;
    top: -25px;
    left: -25px;

    transition: translate 0.1s cubic-bezier(.23,.68,.57,.94);
    
    pointer-events: none;
   
}
.own-cursor::before{
    content: "";
    position: absolute;
    height: 4px;
    width: 4px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    
    transform: translate(-50%, -50%);

    background-color: var(--color-for-cursor-dot);
    
}

/*---------MAIN PAGE DECORATION ---------*/
.mainmenu main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    border-radius: 20%;
box-shadow: 3px 3px 5px rgba(28, 125, 125, 0.909);
}

/*---------PHOTOS PAGE DECORATION ---------*/
.photos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}


/*---------VIDEOS PAGE DECORATION ---------*/
.videos{
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}
.video-content{
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    align-items: center;
}



/*=============RESPONSIVE SCREEN ===========*/
/*============================================= */



/*===============COMPUTER ==========*/
@media  screen and (max-width: 1770px) {
    header{
        padding: 0 70px;
    }
}

/*===============COMPUTER OR TABLET 2==========*/
@media  screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }

}


/*===============TABLET ==========*/
@media screen and (max-width: 1100px){
    header{
        padding: 0 30px;
    }
    
}


/*===============TABLET==========*/
@media screen and (max-width: 700px){
    .burger{
        display: block;
        cursor: pointer;
    }
    .burger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 6px 0 ;
    }
    .menu{
        display: none;
        top: 11vh;
        left: 0;
        position: absolute;
        height: 30vh;
        width: 100%;
        background-color:var(--color-for-phone-menu) ;
        color: white;
        transition: 0.75s ;
        flex-direction: column;
    }

}
/*==================================*/

